*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
.container__boolzapp{
  width: 100vw;
  height: 100vh;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout__container__boolzapp{
  height: 130px;
  width: 100vw;
  background-color: #009688;
  position: absolute;
  top: 0;
}
.container__chat{
  width: 95%;
  margin: 0 auto;
  height: 95%;
  z-index: 2;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.message{
  background-image: url('http://i.imgur.com/bc3eMdZ.png');
  background-size: contain;
  margin-left: 30%;
  width: 70%;
  height:80%;
  padding:20px 80px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  display: none;
}
.message.active{
  display: flex;
}
.search{
  width: 30%;
  height: 100%;
  position: absolute;
  top:0;
}
.notifiche{
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #48dbfb;
}
.alert{
  background-color: white;
  padding:10px;
  border-radius: 50%;
  margin:10px;
}
.fa-bell-slash:before {
  color: #48dbfb;
  font-size: 20px;
}
.contact__list{
  width: 30%;
  height: 70%;
  position: absolute;
  overflow-y: auto;
  bottom:0;
}
.search__contact{
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
  height: 20%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.contact:hover{
  background-color: #eeeeee;
  cursor: pointer;
}
img{
  cursor: pointer;
}
.search__contact .search{
  width: 300px;
}
.contact__current{
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  border-right: 1px solid lightgrey;
}
.contact__current__right{
  padding:20px;
  font-size: 20px;
}
.write{
  height: 10%;
  width: 70%;
  margin-left: 30%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
.info__contact{
  height: 10%;
  width: 70%;
  margin-left: 30%;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  padding:10px;
}
.info__contact__right{
  font-size: 20px;
  position: absolute;
  right: 0;
  padding:10px;
}
.info__contact__img img,
.contact__current__left img,
.contact img{
  border-radius: 50%;
  width: 45px;
  margin: 0px 10px;
}
.utente{
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  max-width: 400px;
  align-self: flex-end;
  padding:15px;
  margin: 10px;
  word-break: break-all;
  position: relative;
}
.interlocutore{
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  max-width: 400px;
  align-self: flex-start;
  padding:15px;
  margin: 10px;
  word-break: break-all;
  position: relative;
}
input{
  border-radius: 20px;
  width: 700px;
  height: 40px;
  border:0;
  margin: 10px;
  padding:10px;
}
.far{
  margin-right: 20px;
  color: grey;
  cursor: pointer;
}
.fas{
  margin-left: 20px;
  color: grey;
  cursor: pointer;
}
.template{
  display: none;
}
.dropdown__menu{
  width: 120px;
  height: 100px;
  position: absolute;
  right: 5px;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
  z-index: 1;
}
.dropdown__menu ul li{
  list-style-type: none;
  cursor: pointer;
  padding:10px;
  margin-top: 7px;
  text-align: center;
}
.dropdown__menu ul li:hover{
  background-color: #eeeeee;
}
.active{
  display: block;
}
.grey{
  background-color: #eeeeee;
}
.ora{
  position: absolute;
  right: 25px;
  bottom: 5px;
}
#plane{
  display: none;
}
.icon{
  position: absolute;
  right:60px;
}
.fa-angle-down{
  display: none;
  position: absolute;
  top:15px;
  right:15px;
}
.doppia_spunta{
  font-size: 13px;
  position: absolute;
  bottom:7px;
  right:7px;
}
.text_utente{
  margin-right: 60px;
}
