*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
.container__boolzapp{
  width: 100vw;
  height: 100vh;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout__container__boolzapp{
  height: 130px;
  width: 100vw;
  background-color: #009688;
  position: absolute;
  top: 0;
}
.container__chat{
  width: 95%;
  margin: 0 auto;
  height: 95%;
  z-index: 2;
  background-color: white;
  box-shadow: 5px 10px 8px #888888;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.message{
  background-image: url('http://i.imgur.com/bc3eMdZ.png');
  background-size: contain;
  margin-left: 30%;
  width: 70%;
  height:80%;
  padding:20px 80px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.contact__list{
  width: 30%;
  height: 100%;
  position: absolute;
}
.search__contact{
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
  height: 15%;
  display: flex;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
.contact:hover{
  background-color: #eeeeee;
  cursor: pointer;
}
img{
  cursor: pointer;
}
.search__contact .search{
  width: 300px;
}
.contact__current{
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  border-right: 1px solid lightgrey;
}
.contact__current__right{
  padding:20px;
  font-size: 20px;
}
.write{
  height: 10%;
  width: 70%;
  margin-left: 30%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}
.info__contact{
  height: 10%;
  width: 70%;
  margin-left: 30%;
  align-self: flex-start;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  padding:10px;
}
.info__contact__right{
  font-size: 20px;
  position: absolute;
  right: 0;
  padding:10px;
}
.info__contact__left img,
.contact__current__left img,
.contact img{
  border-radius: 50%;
  width: 45px;
  margin: 0px 10px;
}
.utente{
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  max-width: 400px;
  align-self: flex-end;
  padding:10px;
  margin: 10px;
  word-break: break-all;
  position: relative;
}
.interlocutore{
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  max-width: 400px;
  align-self: flex-start;
  padding:10px;
  margin: 10px;
  word-break: break-all;
}
input{
  border-radius: 20px;
  width: 700px;
  height: 40px;
  border:0;
  margin: 10px;
  padding:10px;
}
.far{
  margin-right: 20px;
  color: grey;
  cursor: pointer;
}
.fas{
  margin-left: 20px;
  color: grey;
  cursor: pointer;
}
.template{
  display: none;
}
